@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: serif;
	background: #f6f9fa;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

.tab_container {
    position: relative;
    background: rgba(19, 35, 47, 0.9);
}

.loginBg section, .loginBg input[type="radio"] {
  clear: both;
  padding-top: 10px;
  display: none;
}

.loginLabel {
    float: left;
    width: 50%;
    cursor: pointer;
    text-align: center;
    margin-bottom: 0px;
    background: rgba(160, 179, 176, 0.3);
    border-radius: 0px;
    color: #dedede;
    font-size: 18px;
    padding: 12px;
    border: 2px solid transparent;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
    padding: 35px;
    color: #fff;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + .loginLabel {
    background-color: #005a9c;
    font-weight: 700;
    border: none;
    border-top: 4px solid #b4e1ff;
    color: #fff;
}

.tab_container [id^="tab"]:checked + .loginLabel .fa {
  color: #0CE;
}

.tab_container input{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 0px;
}

.loginLabel .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 900px) {
.loginLabel span {
    display: none;
  }
  
  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}

.no_wrap {
  text-align:center;
  color: #0ce;
}
.link {
  text-align:center;
}


.loginBg{
    background: rgb(0,127,221);
    background: linear-gradient(
250deg, rgba(0,127,221,1) 0%, rgba(255,146,45,1) 98%);
    /* background-image: linear-gradient(to left top, #bdddf2, #97d8ea, #72d3d5, #60ccb4, #69c289); */
    padding: 70px;  
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;  

    background: rgb(38,149,231);
    background: linear-gradient(
250deg, rgba(38,149,231,1) 0%, rgba(255,136,24,0.48829954345019255) 100%);
    background: rgb(38,149,231);
    background: linear-gradient(
250deg, rgba(38,149,231,0.8524452017134979) 0%, rgba(255,136,24,0.7488037451308649) 100%);
}

.loginBtn {
    background: #005a9c;
    border: none;
    color: #fff;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 15px;
}
.loginBody{
    color: #161a42;
    margin-top: 30px;
    font-size: 20px;
    /* font-variant-caps: petite-caps; */
    font-weight: 600;
}
.header{
    display: inline-block;
    font-size: 55px;
    vertical-align: bottom;
    color: #161a42;
    padding-left: 10px;
}
.navbar {
    background-color: #f9a555;
    justify-content: space-between !important;
}
.navbar-brand img{
    height: 40px;
}
.appTitle{
    font-size: 25px;
    color: #1a1c42;
    font-weight: 600;
    padding-left: 5px;
}
.navbar-nav a{
    color: #1a1c42;
}
.dropdown-menu.show{
    width: auto;
    min-width: auto;
}
.dropdown-item{
    padding: 5px 15px;
}
.eventCard{
    width: calc(100% - 10px);
    margin: auto;
    padding: 25px;
    box-shadow: 4px 3px 20px 2px #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}
.pdR-5{
    padding-right: 5px !important;
}
.eventCard div:first-child{
    font-size: 17px;
    color: #00056c;
}
.eventCard .fa{
    color: #ff7c00;
}
.carousel-indicators li{
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
    border: 2px solid #fd9735 !important;
}
.carousel-indicators{
    bottom: -40px !important;
}
.carousel-indicators .active {
    background-color: #ffd3a9 !important;
} 
.pageBody{
  padding:40px;
}
.sectionHeading{
    font-size: 18px;
    border-left: 2px solid #ff7c00;
    padding-left: 10px;
    font-weight: 600;
    color: #131877;
}
.mt-45{
    margin-top: 45px;
}
.mb-45{
    margin-bottom: 45px;
}
  .circleImg{
    display: block;
    border-radius: 50%;
    background: #ffd3a9;
    width: 150px;
    height: 150px;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    cursor: pointer;
    line-height: 370px;
    margin-bottom: 45px;
    color: #131877;
  }
  .circleImg:hover{
    transform: scale(1.08);
  }
  .formSection{
    padding: 20px 40px;
    background-color: #e5f3ff;
    border-radius: 10px;
    border: 1px solid #abd8ff;
  }
  .mb-30{
    margin-bottom: 30px;
  }
  .mt-15{
    margin-top: 15px;
  }
.editIcon{
  padding-right: 5px;
    color: #241877;
    font-size: 18px;
    cursor: pointer
}
.connectionImg{
  border-radius: 50%;
  border: 1px solid #b9dfff;
  width: 80px;
  height: 80px;
}

.UnFollow{
  text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    background-color: #BD362F;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
    background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: linear-gradient(to bottom, #d03e37,#ec6b67);
    background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: #BD362F #BD362F #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    border-radius: 7px;
    width: 110px;
}
.Following{
    /* background-color: #1d1e42; */
    background-image: linear-gradient(to bottom, #005a9c, #3290d5);
    background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: #2F96B4 #2F96B4 #1F6377;
    /* border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
    color: #131877;
    color: #fff;
    border-radius: 7px;
    width: 110px;
}
button:focus {
  outline: none;
}
.connectionRow{
  background-color: #fff;
  padding: 15px;
  width: calc(100% - 10px);
  align-items: center;
  border-bottom: 1px solid #cecece;
  margin: auto;
}
.profilCard{
  height: 350px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profilCard img{
  border-radius: 50%;
  height: 160px;
  width: 160px;
  border: 1px solid #ccc;
  background: #fff;
}
.pt-20{
  padding-top: 20px;
}
.profileDetail{
  background: #fff;
  padding: 20px;
  border-radius: 16px;
}
.pr-30{
  padding-right: 30px;
}
.rCard{
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  background: #fff7ef;
  border: 1px solid #fac089;
  box-shadow: 5px 5px 12px 4px #d7d7d7;
  padding: 14px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
}
.rCard img{
  height: 150px;
  width: 140px;
  background: #fff;
}
.rCardBody{
  width: 100%;
  padding: 20px;
  margin: auto;
}
.rCardBody button{
  width: 100%;
  border-radius: 4px;
  padding: 4px;
  background: #f9a555;
  color: #fff;
  border-color: #eb8e32 #c46200 #be6f25;
  margin-top: 10px;
  border: none;
  box-shadow: 2px 2px 8px 1px #ababab;
}
.iconCart{
  padding-right: 10px;
  font-size: 18px;
}
.iconRupee{
  padding-right: 4px;
  font-size: 20px;
}
.bdayImg{
  position: absolute;
  right: 22px;
  top: 25px;
}
.appSearch{
  display: flex;
  margin-right: 35px;
}
.appSearch select{
  width: auto;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.appSearch input{
  border-radius: 0px;
  background-clip: border-box;
}
#searchVal{
  width: 100px;
  display: inline-block;
  color: #000;
}
#searchVal:hover{
  text-decoration: none;
}
#searchVal::after{
  position: absolute;
  right: 5px;
  top: 17px;
  color: #999;
}
.noBorder{
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.searchUl li {
  padding: 8px 22px;
  cursor: pointer;
}
.searchUl li:hover {
  background: #e3e3e3;
}
#searchBtn{
  width: 50px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: 1px solid #070707;
}
.appSearch .form-control:focus {
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.pageBody a{
  text-decoration: none;
}
.radio input{
  display: inline-block;
  padding-right: 22px;
  margin-right: 5px;
  margin-top: 10px;
  height: 16px;
  width: 18px;
}
.categoryMaultiselect .searchWrapper {
  padding: 3px;
}
.categoryMaultiselect .chip {
  background: #ababab;
}
.categoryMaultiselect .multiSelectContainer li:hover {
  background: #dfdfdf;
  color: #000;
  cursor: pointer;
}
.saveBtn{
  background: #005a9c;
  border: none;
  color: #fff;
  padding: 4px 12px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
  float: right;
}
.saveBtn i{
  font-size: 14px;
}